@import url('https://fonts.googleapis.com/css2?family=Miriam+Libre&family=Overlock:ital@1&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family:'Miriam Libre', sans-serif;
}
html{
    box-sizing: border-box;
}
body{
    background-color: lavender;
}
header{
    background-color: lightblue;
    padding: 15px;
    
    /*FLEXBOX*/
    display: flex;
    justify-content: space-between;
}

img{
    width: 100px;
    height: 100px;
}
.imgMedio{
    width: 250px;
    height: 350px;
    margin-left: auto;
}

footer{
    background-color: lightblue;
    text-align: center;
    font-size: 22px;
}
.container{
    display: flex; 
    padding: 5px; 
    
}
.sebastian{
    margin-left: auto;
}

li{
    list-style-type: circle;
    list-style-position: outside;
    padding: 5px;
}
/*MEDIA QUERIE*/
@media screen and (max-width: 600px) {
    div{
        flex-direction: column;
    }
}
